body {
        background: lightyellow;
        font: 18px Arial, sans-serif;
    }
    /* Defineixo que si no pot bolcar el tipus de lletra Aria, bolqui el sans-serif */
    h1, h4 {
        color: orange;
    }
     /* Estableixo aquest color de lletra tant pel que està contingut en les etiquetes h1 com pel que ho està a h4 */
    
    h3 {
        color: green;
    }