body {
       font: 18px arial, sans-serif;
       background-image: url("../imatges/mushin.png");
       background-repeat: no-repeat;
       background-position: 10px top;
    }
h1 {
        color: orange;
    }

p {
        color: green;
    }

.mushin {
        margin-left: 200px;
     }

.explicacio {
        color: black;
  }