body {
	background-color: #9ff9ea;
	font-family: "Tahoma";
}

h2 {
        padding: 15px;
        background: #F5F5e2;
    }
    
p {
    font-weight: bold;
    font-size: 20px;
    text-align:center;
}
   
    .positiu {
    padding: 10px 15px 20px 25px;
   /* Estic englobant padding-top, padding-right, padding-bottom, padding-left */
    color:#FFFFFF;
    background: #E50E0E;
        
    }
    
    .negatiu {
            padding: 10px 20px;
         /* Estic englobant padding-top i padding-bottom, padding-right i padding-left */
          }
