h1 {
        margin-bottom: 100px; /* Defineixo un marge/espaiat per sota */
    }
    
    .positiu {margin-left: 250px; /* Defineixo un marge/espaiat per l'esquerra */
            margin-right: 250px; /* Defineixo un marge/espaiat per l'esquerra */
    }
    
    .negatiu {margin-left: -50px; /* Defineixo un marge/espaiat per l'esquerra */
            margin-right: -50px; /* Defineixo un marge/espaiat per l'esquerra */
    }