body {
       background: #f0e68d url("../imatges/miyamoto.jpg") no-repeat fixed 25px 500px;
       font: 18px arial, sans-serif;
       text-align: justify;
    }

h1 {
        color: grey;
        text-align: center;
    }

p {
        color: black;
        }

/* Opció 1: Defineixo el color dels enllaços*/
a:link { /* link sense visitar */
        color: #FF0000;
        /* Opció 2: text-decoration: none; */
        }
a:visited { /* link sense visitar */
        color: #00FF00;
        }
a:hover { /* ratolí per sobre de l'enllaç */
        color: #FF66FF;
        /* Opció 2: text-decoration: underline;*/
        }
a:active { /* enllaç actiu */
        color: #0000FF;
        /* Opció 2: text-decoration: underline; */
        }
