body {
       background: #f0e68c url("imatges/miyamoto.jpg") no-repeat fixed 25px 500px;
       font: 18px arial, sans-serif;
       text-align: justify;
    }
h1 {
        color: grey;
        text-align: center;
    }

p {
        color: black;
        }
