    body {
        background: lightyellow;
        font: 18px Arial, sans-serif;
    }
    /* Defineixo que si no pot bolcar el tipus de lletra Aria, bolqui el sans-serif */
    h1 {
        color: orange;
    }
    
    h3 em {
        color: green;
    }
    
    div p {
            background-color: yellow;
            }