    body {
        background: lightyellow;
        font: 18px Arial, sans-serif;
    }
    /* Defineixo que si no pot bolcar el tipus de lletra Arial, bolqui el sans-serif */
    h1 {
        color: orange;
    }
    
    /* Declaro una classe descendent */
    h3 em {
        color: green;
    }
    
    /* Declaro una classe descendent */
    div p {
            background-color:red;
        }
        
    /* Declaro una classe fill */
    div>p {
            background-color:green;
        }