body {
        background: lightyellow;
        font: 18px Arial, sans-serif;
    }
    /* Defineixo que si no pot bolcar el tipus de lletra Aria, bolqui el sans-serif */
    h1 {
        color: orange;
    }
    
    h3 {
        color: green;
    }
    
    .vermellpassio {
        background-color: tomato;
        color: white;
        font-weight: bold;
        padding: 10px;
    }
    
    p.primer {
        color: #0000ff;
        border: 2px solid;
    }
    p.segon {
        color: #00ff00;
        outline: 2px solid;
    }