article {
        /*background: lightyellow;*/
        font: 18px Arial, sans-serif;
        background-image: url("../imatges/mushin.jpg");
        background-repeat: repeat-x;
    }
    /* Defineixo que si no pot bolcar el tipus de lletra Aria, bolqui el sans-serif */
    
    h1 {
        color: orange;
    }
    
    p {
        color: green;
    }
    
    .important {
        background-color: blue;
        color: white;
        font-weight: bold;
        padding: 20px;
    }
    /* Amb la propietat padding estableixo l'àrea de farcit als quatre costats d'un element.*/
    /* És una abreviatura que estableix tots els farcits individuals alhora(padding-top, padding-right, padding-bottom i padding-left).*/