    body {
        font: 18px Arial, sans-serif;
        width: 250px;
        height: 200px;
        overflow: visible;
        background-image: url("../imatges/mushin.jpg");
        background-attachment: fixed;
    }
    
    h1 {
        color: orange;
    }
    
    p {
        color: green;
    }