header, article, aside, footer {
	font: 28px arial, sans-serif;
	padding-top: 30px; /*Definim l'amplada de la zona de farciment superior de l'element*/
	border-radius: 10px;
	text-align: center;
	display: block; /*Especifiquem el tipus de quadre de representació*/
}

header {
	background-color: #22C849;
	width: 516px;
	height: 75px;
	margin: 10px; /*Ajustem la propietat width d'arreu de l'element*/
}
 
body {
	background-color: #FFFFFF;
	margin: 50px;
	margin-left: 100px; /*Desplacem perquè quedi més i centrat*/
}

div {
	float: left; /*Posicionem el(s) bloc(s) tot a l'esquerra*/ 
	margin-top: 10px;
	margin-bottom: 18px;
}

article {
	background-color: #AAAAAA;
	width: 335px;
	height: 75px;
	margin-left: 10px;
}

.twin {
	margin-top: 15px; /* Definim un espai de separació per sobre */
}

aside{
	width: 165px;
	height: 130px;
	float: left; /* Definim que el bloc tiri cap a l'esquerra */
	padding-top: 95px; /* Definim l'amplada de la zona de farciment superior de l'element */
	margin-left: 15px;
	background-color: #FF7E00;
	margin-top: 10px;
	margin-bottom: 18px;
}

footer {
	background-color: #00A2FF;
	clear: left; /*Indiquem el(s) costat(s) que d'una caixa que no han de ser adjacents amb un element posicionat de forma flotant amb float*/
	width: 516px;
	height: 75px;
	margin: 10px;
	margin-top: 40px;
}