h2 { color: red}

body {
	background-color: #F8F8F8;
	margin: 50px;
	margin-left: 100px; /*Desplacem perquè quedi més i centrat*/
	font-family: "Tahoma";
}

table {
	border: 4px solid;
}

th, td {
   text-align: center;
   border: 1px solid;
}