body {
	background-color: #F8F8F8;
	margin-left: 100px; /*Desplacem perquè quedi més i centrat*/
	font-family: "Tahoma";
}

#exemple1 {
	font-family: "Lucida Typewriter";
	color: green;
}

#exemple2 {
    float: right;
}

#exemple3 {
    float: none;
}

.esquerra {
    float: left;
}

.dreta {
    float: right;
}

.clear {
    clear: both;
}