body {
	background-color: #F8F8F8;
	margin-left: 100px; /*Desplacem perquè quedi més i centrat*/
	font-family: "Tahoma";
}

p {
    font-family: Helvetica, "SimSun";
}

.esquerra {
    float: left;
}

.clear {
    clear: none;
}