body {
	background-color: #F8F8F8;
	margin-left: 100px; /*Desplacem perquè quedi més i centrat*/
	font-family: "Tahoma";
}

    .cursor-demo span{
       /* min-width: 100px; Establim l'amplada mínima d'un element. Impedeix que el valor utilitzat per la propietat width sigui més ampla que el valor especificat per min-width*/
        padding: 5px 10px;
        margin-bottom: 5px;
        display: inline-block;
        border: 1px solid grey;
        border-radius: 3px;   
    }