/* Donem un estil a la capçalera amb un fons de color */
header {
	background-color: #C0C0C0; /* Platejat */
}
/* Els elements h1 han d'estar centrats i tenir un nou color de la font */
h1 {
	color: #FFFFFF; /* Blanc */
	text-align: center;
	text-transform: uppercase;
	font-family: "Trebuchet MS", Helvetica, sans-serif; 
	font-size: 40px;
}
/* Els elements h2 tenen un nou color de font */
h2 {
	color: #00008B; /* Blau fosce */
	text-transform: uppercase; /* Encapçalats d'estil per tenir el text en majúscules */
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 30px;
}
/* Les seccions han de tenir un nou color de fons */
section {
	background-color: #A9A9A9; /* DarkGray */
}
/* Els elements a han d'estar centrats i tenir un nou color de fons i color de fons */
a {
	text-align: center;
	color: #000000; /* Negre */
	background-color: #D3D3D3; /* Gris clar */ 
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
 
img {
	display: none;
}
/* Com que he posat 'none', CAP imatge es mostrarà a la pàgina quan s'apliqui aquest estil CSS*/ 

p {
	font-family: "Palatino Linotype", "Book Antiqua", serif;	
}
table, td, th {
    border: 1px solid DimGray;
}
table {
    border-collapse: collapse;
}
th {
    text-align: left;
}