@media (min-width: 375px) and (max-width: 800px){
	
/* Les peticions @media són un módul CSS3 que permeten adaptar la representació
del contingut a les característiques del dispositius com, per exemple, la  
resolució o la grandària de la pantalla. És un principi bàsic del disseny
web adaptatiu*/

	
	/* L'element body ha de tenir farcit i marges */
	body {
		padding: 1%; 
		margin: 1%;
	}

	/* L'element header ha de tenir color de fons, imatge de fons (ruta local) i farcit */ 
	header {
		background: #C0C0C0; /* Platejat */
		background-image: url("../imatges/flywheel.jpg");
		background-repeat: no-repeat;
		background-size: 100%; 
		padding: 1%;
	}

	/* Els enllaços de navegació (i solament els enllaços de la navegació) han de tenir
	un nou (i diferent) estil de mostra, marge, vora, decoració del text i farcit */

	nav {
		text-align: center;
	}

	nav a {
		background-color: #DAEAD5;
		color: #000000; /* Negre */
		display: inline-block;
		padding: 10px;
		margin: 1%; 
		text-decoration: none; 
		border-radius: 5px; 
	}

	/* El link a la pàgina actual ha de tenir un estil diferent de la resta de links, mitjançant class = "active" */ 
	.active {
		background: #FFFFFF; /* Blanc */
	}

	/* Els elements h1 han de quedar centrats i tenir un nou color de lletra */
	h1 {
		color: #FFFFFF; /* Blanc */
		text-align: center;
		text-transform: uppercase;
		font-family: "Trebuchet MS", Helvetica, sans-serif; 
		font-size: 25px;
		position: relative;
		top: -10px;
	}

	/* Els elements h2 han de tenir un NOU color de lletra */
	h2 {
		color: #000000; /* Negre */
		text-transform: uppercase; /* Posar en MAJÚSCULES */
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size: 12px;
	}

	/* Les imatges han de formar part de la pàgina. 
	A més, han de tenir una vora, estar centrades horitzontalment i 
	tenir un espai vertical (superior / inferior) entre elles i les altres imatges. */ 

	.left {
		background: #808000; /* Olive */ 
		width: 22%;
		float: left;
		padding: 5% 0; 
	}

	.left img {
		border: solid 2px #000000; /* Black */
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 15%;
		margin-bottom: 50%;
	}


	/* Les seccions han d'estar una AL COSTAT de l'altra, NO una SOBRE l'altre. */
	.right {
		width: 76%;
		display: inline-block;
		padding-left: 2%;
	}

/* Els elements a han d'estar centrats i tenir un nou color de lletra i color de fons */
	a {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 12px;
	}


	p {
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;	
		font-size: 11px;
	}

    /* La taula ha de tenir un estil basat en un mínim de 4 propietats */
	table {
	    border-collapse: collapse;
   		width: 285px;
   		font-family: "Times New Roman", Times, serif;
   		font-weight: bold;
   		font-size: 50%;
	}

	/* La capçalera de la taula ha de teni runa vora, un color de fons i, com a m´ínim, una altra imatge */
	th {
		background: #808000; /* Olive */
		color: #FFFFFF; /* White */
	    border: 2px solid #FFFFFF; /* White */
		background-image: url('http://www.photos-public-domain.com/wp-content/uploads/2011/03/olive-green-parchment-paper-texture.jpg');
   		background-repeat: no-repeat;
	}


		/* Els elements <td> de la taula ha de tenir un estil basat an 4 propietats */
	td {
		background: #E0FFFF; /* LightCyan */
		color: #808080; /* Gray */
		border: 2px solid #FFFFFF;
		text-align: center;
	}

	table, td, th {
	    
	    padding: 1%;
	}

	/* Es donarà un estil a la taula que faci que el text de la primera columna es
	posicioni a l'esquerra i que el text en la resta de columnes es centri en el mig */

	tr th:first-child, tr td:first-child {
		text-align: left;
	}

	/* Definim l'opacitat de les files de la taula a un valor 
	entre .6 and .8 (hem d'asegurar-nos que encara estigui visible) */
	tr td {
		opacity: 0.8;

	}

	/* Canviem ll'opacitat d'una fila quan hi passem per sobre */
	tr td:hover {
		opacity: 2.5;
		text-align: center;
		font-size: 120%;
	}
}

@media (min-width: 801px) and (max-width: 1199px) {
	
	/* Les peticions @media són un módul CSS3 que permeten adaptar la representació
del contingut a les característiques del dispositius com, per exemple, la  
resolució o la grandària de la pantalla. És un principi bàsic del disseny
web adaptatiu*/

	/* L'element body ha de tenir farcit i marges */
	
	body {
		padding: 1%; 
		margin: 1%;
	}

	/* La capçalera ha de tenir un color de fons, una imatge (ruta local) i un farcit */ 
	header {
		background: #C0C0C0; /* Silver */
		background-image: url("../imatges/flywheel.jpg");
		background-repeat: no-repeat;
		background-size: 100%; 
		padding: 1%;
	}

	/* Els enllaços de navegació (i solament els enllaços de la navegació) han de tenir
	un nou (i diferent) estil de mostra, marge, vora, decoració del text i farcit */

	nav {
		text-align: center;
	}

	nav a {
		background-color: rgba(218,234,213,0.60);
		color: #000000; /* Black */
		display: inline-block;
		padding: 15px;
		margin: 5%; 
		text-decoration: none; 
		border-radius: 5px; 

	}

	/* El link a la pàgina actual ha de tenir un estil diferent de la resta de links, mitjançant class = "active" */ 
	.active {
		background: #FFFFFF; /* White */
	}


	/* Els elements h1 han de quedar centrats i tenir un nou color de lletra */
	h1 {
		color: #FFFFFF; /* White */
		text-align: center;
		text-transform: uppercase;
		font-family: "Trebuchet MS", Helvetica, sans-serif; 
		font-size: 40px;
		position: relative;
		top: -20px;

	}

	/* Els elements h2 han de tenir un nou color de lletra */
	h2 {
		color: #000000; /* Black */
		text-transform: uppercase; /* style headings to have uppercase text */
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size: 25px;
	}

	/* Les imatges han de formar part de la pàgina. 
	A més, han de tenir una vora, estar centrades horitzontalment i 
	tenir un espai vertical (superior / inferior) entre elles i les altres imatges. */
 
	.left {
		background: #808000; /* Olive */ 
		width: 30%;
		float: left;
		padding: 5% 0; 

		
	}

	.left img {
		border: solid 2px #000000; /* Black */
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 1%;
		margin-bottom: 1%; 
	    
	}

	/* Les seccions han d'estar una AL COSTAT de l'altra, NO una SOBRE l'altre. */
	.right {
		width: 68%;
		display: inline-block;
		padding-left: 2%;
	}

	/* Els elements a han d'estar centrats i tenir un nou color de lletra i color de fons */
	
	a {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 12px;
	}


	p {
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		font-size: 13px;

	}

	/* La taula ha de tenir un estil basat en un mínim de 4 propietats */
	table {
	    border-collapse: collapse;
   		width: 500px;
   		font-family: "Courier New", Courier, monospace;
   		font-weight: bold;
   		font-size: 70%;
	}

	/* La capçalera de la taula ha de teni runa vora, un color de fons i, com a m´ínim, una altra imatge */
	th {
		background: #808000; /* Olive */
		color: #FFFFFF; /* White */
	    border: 2px solid #FFFFFF; /* White */
		background-image: url('http://www.photos-public-domain.com/wp-content/uploads/2011/03/olive-green-parchment-paper-texture.jpg');
   		background-repeat: no-repeat;
	}


	/* Els elements <td> de la taula ha de tenir un estil basat an 4 propietats */
	td {
		background: #E0FFFF; /* LightCyan */
		color: #808080; /* Gray */
		border: 2px solid #FFFFFF;
		text-align: center;
	}

	table, td, th {
	    margin-left: 5%;
	    padding: 1%;
	}


/* Es donarà un estil a la taula que faci que el text de la primera columna es
	posicioni a l'esquerra i que el text en la resta de columnes es centri en el mig */

	tr th:first-child, tr td:first-child {
		text-align: left;
	}

/* Definim l'opacitat de les files de la taula a un valor 
	entre .6 and .8 (hem d'asegurar-nos que encara estigui visible) */

	tr td {
		opacity: 0.8;

	}


	/* Canviem ll'opacitat d'una fila quan hi passem per sobre */
	
	tr td:hover {
		opacity: 1.5;
		text-align: center;
		font-size: 120%;
	}
}

@media (min-width: 1200px) {
/* Les peticions @media són un módul CSS3 que permeten adaptar la representació
del contingut a les característiques del dispositius com, per exemple, la  
resolució o la grandària de la pantalla. És un principi bàsic del disseny
web adaptatiu*/

	
	/* L'element body ha de tenir farcit i marges */

	body {
		padding: 5px; 
		margin: 1%;
	}

	/* La capçalera ha de tenir un color de fons, una imatge (ruta local) i un farcit */ 
	header {
		background: #C0C0C0; /* Silver */
		background-image: url("../imatges/flywheel.jpg");
		background-repeat: no-repeat;
		background-size: 100%; 
		padding: 1%;
	}

	/* Els enllaços de navegació (i solament els enllaços de la navegació) han de tenir
	un nou (i diferent) estil de mostra, marge, vora, decoració del text i farcit */

	nav {
		text-align: center;
	}

	nav a {
		background-color: rgba(218,234,213,0.60);
		color: #000000; /* Negre */
		display: inline-block;
		padding: 15px;
		margin: 5%; 
		text-decoration: none; 
		border-radius: 5px; 
		height: 20px; 
		width: 120px;

	}

	/* El link a la pàgina actual ha de tenir un estil diferent de la resta de links, mitjançant class = "active" */ 
	.active {
		background: #FFFFFF; /* White */
	}

    /* Els elements h1 han de quedar centrats i tenir un nou color de lletra */
	h1 {
		color: #FFFFFF; /* White */
		text-align: center;
		text-transform: uppercase;
		font-family: "Trebuchet MS", Helvetica, sans-serif; 
		font-size: 40px;
		position: relative;
		top: -20px;

	}

    /* Els elements h2 han de tenir un nou color de lletra */
	h2 {
		color: #000000; /* Black */
		text-transform: uppercase; /* style headings to have uppercase text */
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size: 25px;
	}

	/* Les imatges han de formar part de la pàgina. 
	A més, han de tenir una vora, estar centrades horitzontalment i 
	tenir un espai vertical (superior / inferior) entre elles i les altres imatges. */

	.left {
		background: #808000; /* Olive */ 
		width: 20%;
		float: left;
		padding: 7% 0; 
		
	}

	.left img {
		border: solid 2px #000000; /* Black */
		width: 60%;
		margin-left: 20%;
		margin-right: 20%;
		margin-top: -5%;
		margin-bottom: 10%; 
	}

	/* Les seccions han d'estar una AL COSTAT de l'altra, NO una SOBRE l'altre. */
	.right {
		width: 75%;
		display: inline-block;
		padding-left: 2%;
	}

	/* Els elements a han d'estar centrats i tenir un nou color de lletra i color de fons */
	a {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 12px;
	}


	p {
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		font-size: 14px;

	}

/* La taula ha de tenir un estil basat en un mínim de 4 propietats */
	table {
	    border-collapse: collapse;
   		width: 800px;
   		font-family: "Courier New", Courier, monospace;
   		font-weight: bold;
   		font-size: 80%;
	}

/* La capçalera de la taula ha de teni runa vora, un color de fons i, com a m´ínim, una altra imatge */
	th {
		background: #808000; /* Olive */
		color: #FFFFFF; /* White */
	    border: 2px solid #FFFFFF; /* White */
		background-image: url('http://www.photos-public-domain.com/wp-content/uploads/2011/03/olive-green-parchment-paper-texture.jpg');
   		background-repeat: no-repeat;
	}


	/* Els elements <td> de la taula ha de tenir un estil basat an 4 propietats */
	td {
		background: #E0FFFF; /* LightCyan */
		color: #808080; /* Gray */
		border: 2px solid #FFFFFF;
		text-align: center;
	}

	table, td, th {
	    margin-left: 3%;
	    padding: 1%;
	}

/* Es donarà un estil a la taula que faci que el text de la primera columna es
	posicioni a l'esquerra i que el text en la resta de columnes es centri en el mig */

	tr th:first-child, tr td:first-child {
		text-align: left;
	}

/* Definim l'opacitat de les files de la taula a un valor 
	entre .6 and .8 (hem d'asegurar-nos que encara estigui visible) */

	tr td {
		opacity: 0.8;
	}

/* Canviem ll'opacitat d'una fila quan hi passem per sobre */
	tr td:hover, tr th:hover {
		opacity: 1.5;
		font-size: 150%;

	}
}